body{
	font-family: 'Poiret One', cursive;
	background-image: url("ardoise");
	background-repeat: no-repeat;
}
h1{
	color: white;
	margin-top: 200px;
	font-size: 90px;
}

.internet{
	position: absolute;
	margin-left: 600px;
	margin-top: 200px;
}

.robot{
	position: absolute;
	margin-left: 900px;
	margin-top: 200px;
}
.d3 {
	position: absolute;
	margin-left: 1200px;
	margin-top: 200px;
}