

body {
	font-family: 'Poiret One', cursive;
	background-image: url("loginfon");
	background-repeat: no-repeat;
}

h1{
	color: white;
	font-size: 250px;
	margin-top: 1px;
}
.slogan{
	font-size: 50px;
	position: absolute;
	margin-left:1000px;
	margin-top:-190px;
	
}
#form{

	margin:0 auto;
	margin-top: -100px;
	font-size: 25px;
	background-color:none;
	/*border: solid #CCC;*/
	border-radius: 5px;

}


input, textarea {
	opacity: 0.5;
	font:1em sans-serif;
	border :1px solid black ;
	border-radius: 5px;
	height: 50px;
	width: 400px;
	
}

form, div{
	color: white;
}
